body{
margin-top:10%;
Margin-left:25%;
background-color:white;
width:50%;
border: 1px solid #D68910;
border-radius: 5px;
height:350px;
box-shadow:5px 5px 50px 5px black;
}
html{
overflow-y: hidden;
background:#2E4053;
}
.pid{
padding:5px;
height:30px;
font-size:20px;
background:#D68910;
text-align:center;
}
.addr *{
display:inline;
margin:10px;
}
.adddr *{
display:inline;
margin:7px;
}
.adddr div{
padding:5px 9.5px;
margin-left:10%;
border:1px solid grey;
background:#f1f1f1;
}

.addr div{
padding:5px;
margin-left:10%;
border:1px solid grey;
background:#f1f1f1;
}

.sub{
margin-top:5%;
margin-left:19%;
font-weight:bold;
position:fixed;
padding: 15px 25px;
width:10%;
font-size: 15px;
text-align: center;
cursor: pointer;
outline: none;
color: black;
background-color: #4d4d4d;
border: none;
border-radius: 5px;
box-shadow: 0 3px #999;
}

.sub:hover{
background:black;
color:#D68910;
}

.sub:active{
transform:translatey(2px);
}