.bod{
margin-top:5%;
Margin-left:10%;
background-color:white;
width:80%;
Height:900px;
border: 1px solid black;
border-radius: 5px;
position:relative;
}
body{
margin-top:5%;
border:1px solid white;
}
.slides{
margin-left:-.5%;
width:100%;
height:100%;
position:fixed;
z-index:0;
filter: blur(8px);


}

