
p.na{
font-size:25px;
color:#D68910;
font-weight:bold;
font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}

header {
    background-color: #050103;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    position: fixed;
    z-index:1;
    top: 0;
    left: 0;
    width:100%;
    height: 80px;
    align-items: center;
    display:flex;
}

.first a:link, .third a:link{
text-decoration:none;
}

.first a{
color:#cccccc;
font-size:18px;
font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
div.first{
margin-top:2%;
margin:10px;
}

.first button{
margin:10px;
}
div.first * {
    display: inline;
}
header div{
    margin: 10px;
}

html{
overflow-y:scroll;
}
.first button{
color:#D68910;
height:70px;
font-size:17px;
float:left;
background-color: #050103;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
border:none;
outline:none;
}

.first button:hover{
    background-color:#4d4d4d;
    color:white;
}
ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}
 .first ul li:hover > ul,
 .first ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.first ul li ul li {
  clear: both;
  width: 100%;
}
.second{
margin-left:-40px;
z-index:1;
}
.searchBox{
margin-top:-75px;
border:1px solid orange;
height: 50px;
border-radius: 50px;
transform:  translate(0%,100%);
z-index:1;
background:black;
}
.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
    z-index:1;
}
.searchBox:active > .searchInput {
    width: 240px;
    padding: 0 6px;
    z-index:1;
}
.searchBox:hover > .searchButton {
  background: #D68910;
  color : #2f3640;
}

.searchButton {
    outline:none;
    color: #2f3640;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #D68910;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size:15px;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    border:radius:5px;
    z-index:1;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}
.third{
margin-top:-.02px;
margin-left:75%;
position:fixed;
width:35%;
}
div.third * {
    display: inline;
}
.third button{
color:#D68910;
height:70px;
font-size:17px;
background-color: #050103;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
border:none;
outline:none;
}

.third button:hover{
    background-color:#4d4d4d;
    color:white;
}