{% extends 'base.html' %}

{% load static %}

{% block header%}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/navbar.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'CSS/home.css' %}">
<script type="text/javascript">
		function validate(event)
		{
			s_val = document.getElementById('search').value
			console.log(s_val.length)
			if(s_val.match(/^[0-9]+$/))
			{
				if (s_val.length!=10){
					alert("Please enter 10 number")
					event.preventDefault()
				}
			}
			else if (s_val.match(/^[0-9a-zA-Z]+$/))
			{
				if(!s_val.match(/^[a-z]+$/i))
				{
					alert("please enter phone number or patient name. Alphanumerics not allowed")
  					event.preventDefault()
				}

			}
		}
		var i=0;
		var images = [];
		var time=3000;

		images[0]= '/static/images/blue.jpeg';
		images[1]= '/static/images/books.jpeg';

		function changeImg()
	{
		document.slide.src = images[i];

		if(i < images.length-1)
		{
		    i++;
		} else
		{
		    i = 0;
		}

		setTimeout("changeImg()", time);
	}
		window.onload = changeImg;
</script>
{% endblock header %}
{% block body %}
<img name="slide" class="slides">

<div class="second">
    <input type="text" placeholder="Enter patient ID or Contact No">
    <button type="submit"><i class="fa fa-search"></i></button></div>
<div class="bod"></div>
{% endblock body %}
